@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat-italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat-semibold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat-semibold-italic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'NovaSquare';
	src: url('/fonts/novasquare.ttf');
	font-weight: normal;
	font-style: normal;
}
